
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 0px;
}


header {
  position: fixed;
  background-color: #6bdad4;
  width: 100%;
  height:13%;
  top:0;
  /* margin: 0 0 0 0;  */
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}



header h1 {
  padding-left:50px;
  padding-top: 5px;
  padding-bottom: 12px;
  color: black;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 30px;
  font-weight: 200;
}

.userDetails {
  border: 1px solid #c8b6b6;
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: #50a3a2;
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.post-container{
  margin:120px;
}
.card{
  background: #e6e6e1;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 20px 10px;
  width: 300px;
  height:450px;
  margin: 30px;
  float: left;
  resize: vertical;
}
.card p {
  font-size: 0.8em;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-left: 25px;
}

.card h3{
  padding-left: 25px;
}
.post{
  width:250px;
  height:250px;
  padding-left: 25px;
}
.likeComment{
  margin-left:25px;
  margin-top:5px;
}

.comment{
  font-size: 0.8em;
  padding-left:25px;
  overflow: scroll;
  width: 250px;
  height:80px;
}


.followerCard {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 240px;
  margin:40px;
  box-shadow: 0 2px 5px #ccc;
}

.optionBackground{
  border:none;
  position: fixed;
  right: 0;
  width:100px;
  height:100px;
  border-radius: 7px;
  background-color: #6bdad4;
}

.optionBackground.home{
top:150px;
}

.optionBackground.add{
  top:190px;
}

.optionBackground.settings{
  top:230px;
  }

.container.logout{
  margin:15% auto;
}
